h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #C00000;
}


.container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.boxe1 {
    background-color: #f2f2f2;
    border: 2px solid black;
    border-radius: 12px;
    padding: 25px;
    flex: 1;
    min-width: 320px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-right: 18px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 15px;
}

textarea {
    height: 140px;
    resize: none;
}

.bouton {
    background-color: #C00000;
    color: white;
    border: none;
    padding: 14px;
    font-size: 16px;
    border-radius: 10px;
    /* J'ai fais en sorte qu'il change de curseur comme dans tout les sites */
    cursor: pointer;
}

.bouton:hover {
    /* un hover pour faire en sorte que lorsqu'on passe la souris sur le bouton il change de couleur */
    background-color: #9a0000;
}

.boxe2 {
    background-color: #f2f2f2;
    border: 2px solid black;
    border-radius: 12px;
    padding: 20px;
    flex: 1;
    min-width: 320px;
}

.img1,
.img2 {
    width: 100%;
    border-radius: 10px;
}

.adresse p {
    /* Faire en sorte qu'il suive l'exacte format au quel je l'ai ecris */
    white-space: pre-line;
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #222;
}


/* Le responsive pour les utilisateurs de tablette */
@media (max-width: 1000px) {
    .container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .boxe1 {
        flex: 1 1 55%;
        min-width: 360px;
    }

    .boxe2 {
        flex: 1 1 45%;
        min-width: 320px;
    }
}

/* Le responsive pour les utilisateurs de téléphone */
@media (max-width: 600px) {
    .container {
        display: block;
    }

    .boxe1,
    .boxe2 {
        width: 100%;
        padding: 16px;
        border-radius: 10px;
    }

    .img1 {
        height: 220px;
    }
}